body {
    background-color: #f3f3f3;
    color: #411f1f;
    }
body a {color: #86c4ba;}

h1, h2, h3 {color: #170b07;}

nav {
    background-color: #a4b98e;
    padding: 10px;
    margin-bottom: 30px;
    }
nav a:hover {color: #f3f3f3;}
nav a {color: #456e96;}