h1, h2 {text-align: center;}
nav {
    display: flex;
    background-color: #132121; 
    padding: 10px;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: underline #ffffff;}

nav a {padding: 10px; color: #ffffff; text-align: center;
  }

body {
    background-color: #eff3ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;}

label {text-align: center;}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

p {margin: 0; padding: 0;}

.logo {width: 10%;}

footer {
  background-color: #132121;
  padding: 20px;
  color: #ffffff;}

.page {margin: 10px;}