h1, h2 {text-align: center;}
nav {
    text-align: center;
    justify-content: space-around;
    background-color: #132121;
    padding: 20px;}

nav a {padding: 30px; color: #ffffff; text-align: center;}

body {
    background-color: #eff3ee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;}

label {text-align: center;}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

p {font-size: 30px; text-decoration: underline;}

footer {
  background-color: #132121;
  padding: 20px;
  color: #ffffff;}

.page {margin: 10px;}